h2{
 /* position: absolute;
  font-family: arial;
  left: 400px;
  top: 100px;
  font-style: italic;
  font-size: 30pt; */
position: center;
font-family: arial;
line-height: normal;
font-size: 30px;
text-align: center;

color: #000000;
}

h3 {
  position: center;
  font-family: arial;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

p{
  width: 100px;
  font-family: arial;
  font-style: bold;
}

div.ex1 {
  position: absolute;
  width: 119px;
  height: 30px;
  left: 40px;
  top: 30px;
  font-family: arial;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.05em;
}

div.ex2{
  font-family: arial;
  font-style: bold;
  text-align: right;
  padding-right: 20px;
}

div.ex3{

  position: center;
  width: 500px;
  height: 500px;
  left: 468px;
  top: 305px;

}

div.present {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 390px;
  top: 305px;
}

button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
}

button.login {
  background-color: transparent;
  border: none;
  color: black;
  padding: 20px;
  border-radius: 12px;
}

button.signup {
  background-color: #EB6258;
  border: none;
  color: white;
  padding: 20px;
  border-radius: 12px;
}

img {
  max-width: 100%;
  max-height: 100%;

}

div.rectangle {
  position: absolute;
  width: 1440px;
  height: 300px;
  left: 0px;
  top: 600px;

  background: #FFCAC6;
}

span.circle {
  color: white;
  width: 52px;
  height: 52px;
  background-color: #EB6258;
  border-radius: 50%;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  line-height: 45px;
}

span.square {
  display: inline-block;
  margin-left: 50px;
  width: 345px;
  height: 345px;
  background: #EB6258;
  border-radius: 10px;

}

div.ex4 {
  width: 1240px;
  height: 390px;
}

#wrapper td {
  vertical-align: middle;
  text-align: center;
  font-family: arial;

}

div.arial {
  font-family: arial;
}

ul {
  text-align: left;
}

/* Chat containers */
div.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 10px;
  margin: 20px 0;
  text-align: right;
}

/* Darker chat container */
div.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
div.container::after {
  content: "";
  clear: both;
  display: table;

}

/* Style images */
div.container img {
  float: left;
  max-width: 60px;
  width: 50%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
div.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}