h2{
 /* position: absolute;
  font-family: arial;
  left: 400px;
  top: 100px;
  font-style: italic;
  font-size: 30pt; */
position: center;
font-family: arial;
line-height: normal;
font-size: 30px;
text-align: center;

color: #000000;
}

h3 {
  position: center;
  font-family: arial;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

p{
  width: 100px;
  font-family: arial;
  font-style: bold;
}

div.ex1 {
  position: absolute;
  width: 119px;
  height: 30px;
  left: 40px;
  top: 30px;
  font-family: arial;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.05em;
}

div.ex2{
  font-family: arial;
  font-style: bold;
  text-align: right;
  padding-right: 20px;
}

div.ex3{

  position: center;
  width: 500px;
  height: 500px;
  left: 468px;
  top: 305px;

}

div.present {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 390px;
  top: 305px;
}

button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
}

button.login {
  background-color: transparent;
  border: none;
  color: black;
  padding: 20px;
  border-radius: 12px;
}

button.signup {
  background-color: #EB6258;
  border: none;
  color: white;
  padding: 20px;
  border-radius: 12px;
}

button.submit {
  right: 40px;
  bottom: 40px;
}

img {
  max-width: 100%;
  max-height: 100%;

}

div.rectangle {
  position: absolute;
  width: 1440px;
  height: 300px;
  left: 0px;
  top: 600px;

  background: #FFCAC6;
}

span.circle {
  color: white;
  width: 52px;
  height: 52px;
  background-color: #EB6258;
  border-radius: 50%;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  line-height: 45px;
}

span.square {
  display: inline-block;
  margin-left: 50px;
  width: 345px;
  height: 345px;
  background: #EB6258;
  border-radius: 10px;

}

div.ex4 {
  width: 1240px;
  height: 390px;
}

#wrapper td {
  vertical-align: middle;
  text-align: center;
  font-family: arial;

}

div.arial {
  font-family: arial;
}

ul {
  text-align: left;
}

/* Chat containers */
div.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 10px;
  margin: 20px 0;
  text-align: right;
}

/* Darker chat container */
div.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
div.container::after {
  content: "";
  clear: both;
  display: table;

}

/* Style images */
div.container img {
  float: left;
  max-width: 60px;
  width: 50%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
div.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/************************ POP UP *****************************************/

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;

}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #FFCAC6;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 15px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: black;
  border-radius: 15px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}