<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'yum.css')}}" /> -->
	<link rel="stylesheet" type = "text/css" href = "yum.css" />
	<title>
		Home
	</title>
</head>
<body bgcolor="#FFFFFF">
<div class = "ex1">
<b> exchange </b> 
</div>
<div class = "ex2">
<button class = "login">home</button>
<button class = "login">wishlist</button>
<button class = "login">gift exchange</button>
</div>
<h2>
	home
</h2>

</div>
<div class = "rectangle">
</div>

<div class = "present">
<img src="present-for-yi-ling.png" alt="Present">



</body>
</html>
