<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'yum.css')}}" /> -->
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='backup.css')}}"/>
	<title>
		exchange
	</title>
</head>
<body bgcolor="#FFFFFF">
<div class = "ex1">
<b> gift<font color = "red">xchange </b>
</div>
<div class = "ex2">
<button class = "login">log in</button>
<button class = "signup">sign up</button>
</div>
<h2>
	Secret Santa made easy. <br> Never have trouble finding a gift for your <br> loved ones ever again.
</h2>

<div class = "rectangle">
</div>

<div class = "present">
<img src="/static/images/present-for-yi-ling.png" alt="Present">

</div>


</body>
</html>
