<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'yum.css')}}" /> -->
	<link rel="stylesheet" type = "text/css" href = "backup.css" />
	<title>
		Quiz
	</title>
</head>
<body bgcolor="#FFFFFF">
<div class = "ex1">
<b> exchange </b> 
</div>
<div class = "ex2">
<button class = "login">home</button>
<button class = "login">wishlist</button>
<button class = "login">gift exchange</button>
<span class = "circle">jl</span>
</div>

<h2>
	my gift exchange
	<br>
</h2>

<h3> you've been assigned to <font color="red">kasey fu</font>. your budget is <font color="red">$125</font>. your gift exchange is scheduled for <font color="red">december 23, 2019</font>!
</h3>

<table id="wrapper">
  <tr>
	<td> &nbsp; &nbsp; &nbsp; Kasey's WishList </td>
    <td> &nbsp; &nbsp; &nbsp; Chat </td>
    <td> &nbsp; &nbsp; &nbsp; Recommended Gifts </td>
  </tr>
  <tr>
    <td><span class = "square">
    	<ul style="list-style-type:none">
		 <li>Surprise me!</li>
		  <li>CDG Shirt</li>
		  <li>Airpods</li>
	</ul>
    </span></td>
    <td><span class = "square">
    	<!--chat-->
		<div class="container">
		  <img src="profile1.jpg" alt="Avatar">
		  <p>What gift do you want</p>
		</div>
		<div class="container darker">
		  <img src="profile2.jpg" alt="Avatar" class="right">
		  <p>Surprise me!</p>
		</div>
		<!-- chat-->
    </span></td>
    <td><span class = "square">
    <ul style="list-style-type:none">
		 <li>Jordans</li>
		  <li>Airpods</li>
		  <li>Swell Bottle</li>
	</ul>
    </span></td>
  </tr>
  

</table>



</body>
</html>
