<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'yum.css')}}" /> -->
	<link rel="stylesheet" type = "text/css" href = "yum.css" />
	<title>
		Home
	</title>
</head>
<body bgcolor="#FFFFFF">
<div class = "ex1">
<b> exchange </b> 
</div>
<div class = "ex2">
<button class = "login">home</button>
<button class = "login">wishlist</button>
<button class = "login">gift exchange</button>
<span class = "circle">jl</span>
</div>

<h2>
	exchange quiz
	<br>
</h2>



<h3>
	<br>
	<br>
</h3>

</body>
</html>
