<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'yum.css')}}" /> -->
	<link rel="stylesheet" type = "text/css" href = "backup.css" />
	<title>
		Quiz
	</title>
</head>
<body bgcolor="#FFFFFF">
<div class = "ex1">
<b> exchange </b> 
</div>
<div class = "ex2">
<button class = "login">home</button>
<button class = "login">wishlist</button>
<button class = "login">gift exchange</button>
<span class = "circle">jl</span>
</div>

<h2>
	exchange quiz
	<br>
</h2>

<h3> This quiz will help your secret santa get you your perfect gift.
	<br>
	The more questions you answer, you better you'll like your gift.
	<br>
</h3>

<div class = "arial" width = "1000px" height = "500px" text-alignment = "center">
	Question 1: What are you into?
	<br>
	You can select multiple answers.
</div>

<form action="">
  <div class = "arial">
  <input type="checkbox" id="a1" name="a1">
  <label for="a1">video games</label>
  <br>
  <input type="checkbox" id="a2" name="a2">
  <label for="a2">homestyling</label>
  <br>
  <input type="checkbox" id="a3" name="a3">
  <label for="a3">reading</label>
  <br>
  <input type="checkbox" id="a4" name="a4">
  <label for="a4">cool tech and gadgets</label>
  <br>
  <input type="checkbox" id="a5" name="a5">
  <label for="a5">cooking or baking</label>
  <br>
  <input type="checkbox" id="a6" name="a6">
  <label for="a6">film and tv</label>
  <br>
  <input type="checkbox" id="a7" name="a7">
  <label for="a7">art</label>
  <br>
  <input type="checkbox" id="a8" name="a8">
  <label for="a8">sports and outdoors</label>
  <br>
  <input type="checkbox" id="a9" name="a9">
  <label for="a9">fashion</label>
  <br>
  <input type="checkbox" id="a10" name="a10">
  <label for="a10">cars and automobiles</label>

</div>
</form>

</body>
</html>
